* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #5981d3;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #5a0606;
}

@media screen and (min-width: 990px) {
    .content {
        max-width: 990px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}